body{
    background-color: rgb(191, 204, 16);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    /* display: flex;
    justify-content: center; */
}
.button{
    background-color: blue;
    height: 1cm;
    width: 2cm;
    border-radius: 5px;
    color: white;
    border: none;
    outline:none;
    cursor: pointer;
    
    
}
 .login,.register{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 227, 149);
    border: solid black;
    height: auto;
    width: 10cm;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 /* .table{
    justify-content: center;
 } */

 input{
    border-radius: 5px;
    margin: 5px;
    border:none;
    outline:none;
    height: .75cm;
 }
 .form{
   display: flex;
   flex-direction: column;
 }



